/* Global Font and Reset Styles */
@font-face {
    font-family: 'tahoma';
    src: url('fonts/tahoma/Tahoma\ Regular\ font.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tahoma';
    src: url('fonts/tahoma/TAHOMABD.TTF') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "tahoma", sans-serif;
}

/* Color and Size Variables */
:root {
    --first-color: #d3d6db;
    --first-light: #e0e4e9;
    --first-dark: #a0a7b2;
    --second-color: #3a4750;
    --second-light: #5a6772;
    --second-dark: #2a353f;
    --third-color: #303841;
    --third-light: #4a5660;
    --third-dark: #232a31;
    --fourth-color: #be3144;
    --fourth-light: #e25470;
    --fourth-dark: #9c2533;
    --primary: #3a4750;
    --secondary: #303841;
    --hover-black: #232a31;
    --accent: #2a353f;
    --text-primary: #e5e5e5;
    --text-secondary: #b3b3b3;
    --highlight: #be3144;
    --border: #2a2a2a;
    --hover: #9c2533;
    --background-alt: #181818;
    --border-radius: 5px;
    --font-size-m: 16px;
}

/* Hero Section Styles */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), 
                      url(images/editing_timeline.jpg);
    background-position: -400px center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    z-index: 0;
}

/* About Me Section Styles */
.hero .about-me {
    position: sticky;
    top: 100px;
    z-index: 2;
    width: 65%;
    max-width: 1200px;
    font-size: 30px;
    line-height: 1.6;
    color: var(--text-primary);
    text-align: left;
    padding: 20px 20px 20px 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-right: 45%;
}

/* Right Image Layer Styles */
.right-image-layer {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), 
                      url(images/carter_ally.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 0;
    transform: scaleX(-1);
}

/* Navbar Styles */
nav {
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    text-decoration: none;
    color: var(--text-primary);
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
}

nav ul li a:hover {
    text-shadow: 0 0 10px var(--text-primary), 0 0 20px var(--text-primary);
}

/* Footer Styles */
.footer {
    background-color: var(--background-alt);
    color: var(--text-primary);
    text-align: center;
    padding: 20px;
    font-size: var(--font-size-m);
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: var(--text-primary);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
